body{
    background-color:greenyellow;
}
.image{
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-inline:100px;
    border-radius: 150%;
    background-color: rgb(114, 189, 85);
    background-repeat: no-repeat;

}
p{
    color: black;
    font-family: sans-serif;
    font-size: medium;
}


.column {
    float: left;
    width: 50%;
    background-color: green;
    
}

table {
    padding-top: 32px;
    color: black;

}
tr{
    font-size: large;
}

.row2 {
    text-align: center;
}

h2.bio-header {
    font-size: 40px;
    top: -50px;
}

bio-paragraph {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    
}
.column-about {
    float: left;
    width: 33.33%;
    height: 400px; 
    font-size: 55vw;
  }
