body{
    background-color:rgb(245, 252, 236);
}
.image{
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-inline:100px;
    border-radius: 150%;
    background-color: rgb(212, 241, 201);
    background-repeat: no-repeat;
    margin-left: 300px;
}
p{
    color: black;
    font-family: sans-serif;
    font-size: medium;
}


.column {
    float: left;
    width: 50%;
    background-color: rgb(245, 252, 236);
    
}

table {
    padding-top: 32px;
    color: black;

}
tr{
    font-size: large;
}

.row2 {
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;

}

h2.bio-header {
    font-size: 40px;
    top: -50px;

}

bio-paragraph {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    
}
.column-about {
    float: left;
    width: 33.33%;
    height: 400px; 
    font-size: 55vw;
    
  }
  .contact-column {
    float: left;
    width: 50%;
    margin-top: 6px;
    text-align: center;

  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
  }
li{
    display: inline;
}
